-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: disdukcapil
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datang2024`
--

DROP TABLE IF EXISTS `datang2024`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `datang2024` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nik` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kk` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_lengkap` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_datang` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_datang` date DEFAULT NULL,
  `klasifikasi_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_prop_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_asal` text COLLATE utf8mb4_unicode_ci,
  `no_rt_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_prop_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_tujuan` text COLLATE utf8mb4_unicode_ci,
  `no_rt_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datang2024`
--

LOCK TABLES `datang2024` WRITE;
/*!40000 ALTER TABLE `datang2024` DISABLE KEYS */;
/*!40000 ALTER TABLE `datang2024` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datang2025`
--

DROP TABLE IF EXISTS `datang2025`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `datang2025` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nik` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kk` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_lengkap` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_datang` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_datang` date DEFAULT NULL,
  `klasifikasi_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_prop_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_asal` text COLLATE utf8mb4_unicode_ci,
  `no_rt_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_prop_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_tujuan` text COLLATE utf8mb4_unicode_ci,
  `no_rt_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2050 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datang2025`
--

LOCK TABLES `datang2025` WRITE;
/*!40000 ALTER TABLE `datang2025` DISABLE KEYS */;
/*!40000 ALTER TABLE `datang2025` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penduduk_data`
--

DROP TABLE IF EXISTS `penduduk_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `penduduk_data` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nik` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_kelamin` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tempat_lahir` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penduduk_data`
--

LOCK TABLES `penduduk_data` WRITE;
/*!40000 ALTER TABLE `penduduk_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `penduduk_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penduduk_pindah`
--

DROP TABLE IF EXISTS `penduduk_pindah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `penduduk_pindah` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penduduk_pindah`
--

LOCK TABLES `penduduk_pindah` WRITE;
/*!40000 ALTER TABLE `penduduk_pindah` DISABLE KEYS */;
/*!40000 ALTER TABLE `penduduk_pindah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pindah2024`
--

DROP TABLE IF EXISTS `pindah2024`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pindah2024` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nik` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kk` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_lengkap` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_pindah` date DEFAULT NULL,
  `jenis_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `klasifikasi_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `klasifikasi_pindah_ket` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alasan_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_prop_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_asal` text COLLATE utf8mb4_unicode_ci,
  `no_rt_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_prop_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_tujuan` text COLLATE utf8mb4_unicode_ci,
  `no_rt_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pindah2024`
--

LOCK TABLES `pindah2024` WRITE;
/*!40000 ALTER TABLE `pindah2024` DISABLE KEYS */;
/*!40000 ALTER TABLE `pindah2024` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pindah2025`
--

DROP TABLE IF EXISTS `pindah2025`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pindah2025` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nik` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kk` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_lengkap` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_pindah` date DEFAULT NULL,
  `jenis_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `klasifikasi_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `klasifikasi_pindah_ket` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alasan_pindah` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_prop_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_asal` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_asal` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_asal` text COLLATE utf8mb4_unicode_ci,
  `no_rt_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_asal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_prop_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_prop_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kab_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kab_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kec_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kec_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_kel_tujuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_kel_tujuan` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_tujuan` text COLLATE utf8mb4_unicode_ci,
  `no_rt_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_rw_tujuan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pindah2025`
--

LOCK TABLES `pindah2025` WRITE;
/*!40000 ALTER TABLE `pindah2025` DISABLE KEYS */;
/*!40000 ALTER TABLE `pindah2025` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-05 14:39:57
